<div class="modal" ng-click="modal.hide()">
  <div class="bar bar-header bar-order">
	  <h1 class="title">区域选择</h1>
	</div>
  <ion-content>
    <div class="list">
		  <div class="item item-divider">
		    城关区
		  </div>
		  <a class="item" href="#">
		    西关十字
		  </a>
		  <a class="item" href="#">
		    东方红广场
		  </a>
		  <a class="item" href="#">
		    大润发
		  </a>
		  <a class="item" href="#">
		    高新区
		  </a>
		  <a class="item" href="#">
		   科技街
		  </a>
		  <a class="item" href="#">
		    兰大电脑城
		  </a>
		  <a class="item" href="#">
		    高新区
		  </a>
		  <div class="item item-divider">
		    安宁区
		  </div>
		  <a class="item" href="#">
		    西北师大
		  </a>
		  <a class="item" href="#">
		    培黎广场
		  </a>
		  <a class="item" href="#">
		    费家营
		  </a>
		  <a class="item" href="#">
		    甘肃农大
		  </a>
		</div>
  </ion-content>
</div>