<ion-side-menus>
	<ion-side-menu-content>
	  <ion-header-bar class="bar-light">
	  	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	    <h1 class="title">选择菜品</h1>
	  </ion-header-bar>
	  <ion-content>
	    <div class="list">
	
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
		      <h2>Weezer</h2>
		      <p>Blue Album</p>
		    </a>
		
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/siamese-dream.jpg">
		      <h2>Smashing Pumpkins</h2>
		      <p>Siamese Dream</p>
		    </a>
		
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/nevermind.jpg">
		      <h2>Nirvana</h2>
		      <p>Nevermind</p>
		    </a>
		
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/license-to-ill.jpg">
		      <h2>Beastie Boys</h2>
		      <p>License To Ill</p>
		    </a>
		
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/dookie.jpg">
		      <h2>Green Day</h2>
		      <p>Dookie</p>
		    </a>
		    
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
		      <h2>Weezer</h2>
		      <p>Blue Album</p>
		    </a>
		
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/siamese-dream.jpg">
		      <h2>Smashing Pumpkins</h2>
		      <p>Siamese Dream</p>
		    </a>
		
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/nevermind.jpg">
		      <h2>Nirvana</h2>
		      <p>Nevermind</p>
		    </a>
		
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/license-to-ill.jpg">
		      <h2>Beastie Boys</h2>
		      <p>License To Ill</p>
		    </a>
		
		    <a class="item item-thumbnail-left" href="#">
		      <img src="http://ionicframework.com/img/docs/dookie.jpg">
		      <h2>Green Day</h2>
		      <p>Dookie</p>
		    </a>
	
		  </div>
	  </ion-content>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="bar-light">
	    <h1 class="title">菜品分类</h1>
	  </ion-header-bar>
	  <ion-content>
		  <div class="list">
			  <a class="item item-icon-left" href="#">
			    炒菜
			  </a>
			
			  <a class="item item-icon-left item-icon-right" href="#">
			    主食
			  </a>
			
			  <a class="item item-icon-left" href="#">
			    配餐
			  </a>
			
			  <a class="item item-icon-left" href="#">
			    水果
			  </a>
			
			</div>
	  </ion-content>
		
	</ion-side-menu>
</ion-side-menus>