<ion-view title="点餐台">
	<div class="bar bar-header item-input-inset has-header" style="margin-top: 44px;" ng-show="false">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios7-search placeholder-icon"></i>
	    <input type="search" placeholder="Search">
	  </label>
	  <button class="button button-icon icon ion-navicon-round"></button>
	</div>
	<ion-content class="has-header" style="/*margin-top: 40px;*/">
    <div class="list" style="padding-bottom: 40px">
	    <div ng-repeat="cate in cates">
	    	<div class="item item-divider">{{cate.cate_name}}</div>
		    <a class="item item-thumbnail-left" ng-class="{active:list[food.food_id]['num']}"
		    ng-repeat="food in cate.foods" ng-click="add(food, 1)">
		      <img ng-src="img/{{food.image}}">
		      <h2>{{food.food_name}}</h2>
		      <p>￥<span class="assertive">{{food.price}}</span></p>
		      <p class="btn-add" ng-show="list[food.food_id]['num']">
		      	<button ng-click="add(food, -1);$event.stopPropagation();" class="button-icon ion-minus"></button>
		      	<button class="button-icon span">{{list[food.food_id]['num']}}</button>
		      	<button ng-click="add(food, 1);$event.stopPropagation();" class="button-icon ion-plus"></button>
		      </p>
		    </a>
			</div>
	  </div>
  </ion-content>
  <div class="bar bar-count">
	  <h1 class="title">
		  <span class="assertive">{{count}}</span>份，合计
		  <span class="assertive">{{cost}}</span>元 
		  <a ng-click="reset()" href="javascript:void(0);">清空</a> |  
		  <a href="#/tab/menu">查看菜单</a> 
	  </h1>
	</div>
</ion-view>