<ion-view title="我的菜单">
  <ion-content class="has-header">
    <div class="card">
		  <div class="item item-divider">
		    明细
		  </div>
		  <div class="item item-avatar">
	      <img src="http://ionicframework.com/img/docs/venkman.jpg">
	      <h2>白菜</h2>
	      <p>10.0</p>
	    </div>
	    <div class="item item-avatar">
	      <img src="http://ionicframework.com/img/docs/venkman.jpg">
	      <h2>白菜</h2>
	      <p>10.0</p>
	    </div>
		  <div class="item item-divider">
		    合计：10.00
		  </div>
		  <button class="item button button-block button-balanced">
			  我已经点好了
			</button>
		</div>
  </ion-content>
</ion-view>
