<ion-view title="我的资料">
  <ion-content class="has-header">
    <div class="list card">
			<div class="item item-avatar">
		    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
		    <h2>蓝鲨鱼</h2>
		    <p>城关区-高新区</p>
		  </div>
		  <a href="#/area" class="item">
		    重新选择位置
		  </a>
		  
		  <a href="#" class="item">
		    未完成的订单
		  </a>
		  
		  <a href="#" class="item">
		    已完成的订单
		  </a>
		
		  <a href="#" class="item">
		    收货地址
		  </a>
			<button class="item button button-block button-assertive">
			  退出登录
			</button>
		</div>
  </ion-content>
</ion-view>
