<ion-view title="点餐台">
	<div class="bar bar-header item-input-inset has-header" style="margin-top: 44px;">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios7-search placeholder-icon"></i>
	    <input type="search" placeholder="Search">
	  </label>
	  <button class="button button-icon icon ion-navicon-round"></button>
	</div>
	<ion-content class="has-header" style="margin-top: 40px;">
    <div class="list" style="padding-bottom: 40px">
    	<div class="item item-divider">
		    炒菜
		  </div>
	    <a class="item item-thumbnail-left">
	      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
	      <h2>酸辣白菜</h2>
	      <p>￥<span class="assertive">10.0</span></p>
	    </a>
	    <a class="item item-thumbnail-left">
	      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
	      <h2>酸辣白菜</h2>
	      <p>￥<span class="assertive">10.0</span></p>
	    </a>
	    <a class="item item-thumbnail-left">
	      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
	      <h2>酸辣白菜</h2>
	      <p>￥<span class="assertive">10.0</span></p>
	    </a>
	    <a class="item item-thumbnail-left">
	      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
	      <h2>酸辣白菜</h2>
	      <p>￥<span class="assertive">10.0</span></p>
	    </a>
			<div class="item item-divider">
		    主食
		  </div>
	    <a class="item item-thumbnail-left">
	      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
	      <h2>酸辣白菜</h2>
	      <p>￥<span class="assertive">10.0</span></p>
	    </a>
	    <a class="item item-thumbnail-left">
	      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
	      <h2>酸辣白菜</h2>
	      <p>￥<span class="assertive">10.0</span></p>
	    </a>
	    <a class="item item-thumbnail-left">
	      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
	      <h2>酸辣白菜</h2>
	      <p>￥<span class="assertive">10.0</span></p>
	    </a>
	    <a class="item item-thumbnail-left">
	      <img src="http://ionicframework.com/img/docs/blue-album.jpg">
	      <h2>酸辣白菜</h2>
	      <p>￥<span class="assertive">10.0</span></p>
	    </a>
	  </div>
  </ion-content>
  <div class="bar bar-count">
	  <h1 class="title"><span class="assertive">11</span>份，合计<span class="assertive">110</span>元</h1>
	</div>
</ion-view>